.button-margin {
    background-color: #689F38;
    color: white;
    border: none;
    border-radius: 10px;
    width: 10rem;
    height: 2rem;
    margin-top: 2rem;
}

.modal-button {
    background-color: #689F38;
    color: white;
    border: none;
    border-radius: 10px;
    width: 10rem;
    height: 2rem;
}

.modal-button-1 {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 10px;
    width: 10rem;
    height: 2rem;
}

.login-icons {
    color: #689F38;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.back-margin {
    margin-top: 3rem;
}